#board {
  float: left;
  width: 600px;
  overflow: hidden;
  background: url("./bg.jpg") no-repeat;
  background-size: 100% 100%;
}

#board div {
  width: 40px;
  height: 40px;
  float: left;
/*   border: 1px solid #4ddcf8; */
  box-sizing: border-box;
}

.white, .black {
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
}

.white {
  background: url("./chessman_w.png") no-repeat;
}

.black {
  background: url("./chessman_b.png") no-repeat;
}

#tips {
  float: left;
  width: 300px;
  min-height: 50px;
  margin: 0 20px 20px;
  padding: 20px;
  border: 2px dotted #000000;
  border-radius: 8px;
}
